// ----------------------------------------------------------------------------
// Card Direction
// ----------------------------------------------------------------------------

@use "sass:math";

[data-view="quality-partners"] {
  .card-direction {
    position: relative;
    @include rem(max-width, 420px);
    margin: 0 auto;
    border: none;
    text-decoration: none;

    &::after {
      content: '';
      display: block;
      width: 25%;
      height: 2px;
      margin: 0 auto;
      background-color: var(--lightgrey);
    }

    @media (min-width: $md) {
      &::after {
        position: absolute;
        right: 0;
        display: inline-block;
        width: 2px;
        height: 100%;
      }

      &:last-child::after {
        display: none;
      }
    }

    .card__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // padding: $spacer * 2 $spacer + $spacer / 2;
      padding: $spacer * 2 $spacer + math.div($spacer, 2);
      text-align: center;
      background-color: var(--white);
    }

    .card__title {
      // margin-bottom: $spacer / 4;
      margin-bottom: math.div($spacer, 4);
      @include rem(font-size, 16px);
      font-weight: 800;
      letter-spacing: 2px;  
      color: var(--grey);

      @media (min-width: $md) {
        @include rem(min-height, 76px);
      }

      @media (min-width: $lg) {
        @include rem(min-height, 62px);
      }
    }

    .card__subtitle {
      // margin: $spacer / 2 0 $spacer;
      margin: math.div($spacer, 2) 0 $spacer;
      @include rem(font-size, 16px);
      font-weight: 400;
      text-transform: none;
      color: var(--grey);
    }
  }
}